@charset "UTF-8";
/* CSS Document */

/*----Reset----*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
html,body{
    width:100%;
    height:100%;
    color:#222;
    font-family:'grandesignr';
    background:#f8f8f8 url('http://94.210.234.160/_design_your_own/img/pattern.png');
}

/*----Text----*/
a:link,visited,hover,active{
    text-decoration:none;
}
h2{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:30px;
    font-weight:normal;
    margin-bottom:30px;
    line-height:0;
}
h3{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:normal;
    margin:0 0 0 10px;
    line-height:40px;
}
h4{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}
.casep h4{
    font-size:16px;
}
h5{
    font-size:16px;
    font-family:'grandesigni';
    margin-bottom:15px;
}
h6{
	font-size:14px;
	margin-bottom:10px;
	text-align:left !important;
}
.casep h5{
    font-size:20px;
}
p{
    text-align:justify;
}
.gallery span{
    margin-left:20px;
    font-size:16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*----Structure----*/
.no-scroll{
    overflow:hidden;
}
.ontop{
    margin-top:60px;
}
.top{
    margin-top:20px;
}
.bg{
    background:#f8f8f8;
}
.line{
    height:1px;
    background:#6ebdc4;
}
/*----Nav----*/
nav{
    width:100%;
    height:40px;
    position: fixed;
    z-index: 1;
    top:0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:16px;

    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -o-linear-gradient(top, #444444, #222222);
    background-image: -ms-linear-gradient(top, #444444, #222222);

}
nav ul{}
nav ul li{
    float:left;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#f8f8f8;
}
nav ul li a:hover, nav ul li.active{
    cursor: pointer;
    background:#f25a29;
    color:#f8f8f8;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8555), to(#f25a29));
    background-image: -webkit-linear-gradient(top, #ff8555, #f25a29);
    background-image: -moz-linear-gradient(top, #ff8555, #f25a29);
    background-image: -o-linear-gradient(top, #ff8555, #f25a29);
    background-image: -ms-linear-gradient(top, #ff8555, #f25a29);

}
nav ul li a{
    color: #f8f8f8;
    font-size:18px;
    text-align: center;
    margin: auto;
    display: block;
    height:40px
}

/*----Register----*/
.registerPage .span2,.profilePage .span2 {
    width: 143px;
}

/*----Login----*/
#loginContainer {
    position: fixed;
    top: 40px;
    margin-left: 720px;
    color: #ffffff;
    width: 200px;
    background-color: #222;
    padding: 0px 10px 10px 10px;
    z-index: 1000;
}

    #loginContainer input[type="text"], #loginContainer input[type="password"],#loginContainer input[type="checkbox"] {
        padding: 0;
        margin-bottom: 0;
        margin-top: 5px;
    }

    #loginContainer input[type="checkbox"] {
        margin-bottom: 5px;
    }

    #loginContainer button {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8555), to(#f25a29));
        background-image: -webkit-linear-gradient(top, #ff8555, #f25a29);
        background-image: -moz-linear-gradient(top, #ff8555, #f25a29);
        background-image: -o-linear-gradient(top, #ff8555, #f25a29);
        background-image: -ms-linear-gradient(top, #ff8555, #f25a29);
        color: #FFF;
        border: 1px;
        padding: 5px 20px;
    }

    #loginContainer label {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #loginContainer span {
        font-size: 12px;
    }

    #loginContainer a{
        text-decoration: underline;
        font-size: 12px;
    }

        #loginContainer form:last-child button {
            margin-top: 10px;
        }

.visible {
    display: block;
}

.loginHidden{
    display: none;
}


/*----Main----*/
.dataView { margin-top: 50px; }

.big img{
    width:100%;
}
.homebtn{
    height: 620px;
    background-position:left;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;

    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    -ms-transition: 0.3s all ease-out;
}
.homebtn h4{
    color:#ff5000;
    font-size:70px;
    margin:106px 0 0 40px;
    text-shadow: 2px 2px #222222;

    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
}
.homebtn:nth-child(1){
    background: url("http://94.210.234.160/_design_your_own/img/wedstrijd.jpg");
    margin-left: 20px;
}
.homebtn:nth-child(2){
    background:#6ebdc4 url("http://94.210.234.160/_design_your_own/img/ontwerp.jpg");
}
.homebtn:nth-child(3){
    background:url("http://94.210.234.160/_design_your_own/img/gallery.png");
}
.homebtn:hover{
    background-position:right top;
}
.form-search{
    margin-top:-10px;
    float: right;
}
.form-search .input-medium , a.form-search.span2{
    width:114px;
}

.accordion-heading a{
    color:#222;
    font-family:'grandesigni';
}
.accordion-group,input[type="text"], input[type="email"], input[type="number"] {
    border:1px solid #6ebdc4;
}
.searchbtn{
    margin-left:20px;
    border:1px solid #6ebdc4;
}
.gallery{
    width:1200px;
}
.gallery .case {
    height: 295px;
    display: block;
    overflow: hidden;
    background: no-repeat;
    cursor: pointer;
    margin-bottom: 15px;
    
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    -ms-transition: 0.3s all ease-out;
}
.gallery .case img{
    float:left;
    width: 140px;
}
.gallery .case .txt{
    color:transparent;
    width:137px;
    height:285px;
    display:inline-block;
    margin:5px 5px 5px 15px;
	position:relative;
  float: right;
}
.gallery .case a.relative {
  display: inline-block;
  height: 100%;
  width: 140px;
}
.gallery .case:hover{
    width:300px;
    z-index:5;
    background:#f8f8f8 no-repeat;
    box-shadow:3px 3px 5px #222222;
}
.gallery .case:hover .txt {
    color:#000
}
.gallery .case:nth-child(6n+7){
    clear:both;
}
.gallery .case i{
	float:right;
	font-size:16px;
	width:35px;
	text-align:right;
}
.price{
  position:absolute;
  top:255px;
}
.rating{
    height:17px;
    width:100px;
    text-align:center;
}
.casep .rating{
    width:140px;
    float:left;
}
.rating > span {
    cursor: pointer;
}
.reacties{
}
.reacties h4{
    font-size:16px;
}

h4 .icon-shopping-cart { float: right }

.gallery .price .icon-shopping-cart {  margin-top: -15px; }


.comments{
    height:287px;
    overflow:auto;
}
.comments ul li span{
    float:none;
    text-align:left;
    font-size:12px;
}
.comments ul li span.icon-remove-sign{
    cursor: pointer;
}
.comments p{
    margin-top:5px;
}
.react textarea{
    float:left;
    margin-left:15px;
}

.react button{
    float:left;
}

/*----Winkelwagen----*/
    .shoppingCartPage ul { margin-bottom: 20px}

    .shoppingCartPage ul > li {
        width: 80px;
        float: left;
    }

    .shoppingCartPage ul > li:nth-child(1n+2){ margin-left: 40px; }

    .shoppingCartPage ul > li > img,.shoppingCartPage ul > li > h5 {
        display: block;
        margin: auto;
    }

    .shoppingCartPage ul > li > h5 { height: 40px}

    .shoppingCartPage ul > li .input-mini {
        width: 49px;
    }

    .shoppingCartPage ul > li .icon-remove-sign { cursor: pointer; }

    .shoppingCartPage .offset2 {
        margin-left: 100px;
    }

    .shoppingCartPage form label {  display: inline;  }

    .shoppingCartPage .input-medium { width: 162px; }

    .shoppingCartPage .input-large { width: 242px; }

    .shoppingCartPage .input-xlarge { width: 422px; }


/*----Betalen/Afrekenen----*/

.paymentMethodsPage span.icon-question {
    float: right;
    font-size: 16px;
}

    .paymentMethodsPage span.icon-question:hover {
        cursor: pointer;
    }

.paymentMethodsPage label > span , .paymentMethodsPage label > span {
    float: right;
    font-style: italic;
    font-weight: bold;
}

.paymentMethodsPage div label {
    width: 100%;
}

.paymentMethodsPage div label > a {
    float: right;
}


/*----Footer----*/
footer{
    height:30px;
    width:100%;
    position:fixed;
    bottom:0;
    background:#6ebdc4;

    background-image: -webkit-gradient(linear, left top, left bottom, from(#80ccce), to(#6ebdc4));
    background-image: -webkit-linear-gradient(top, #80ccce, #6ebdc4);
    background-image: -moz-linear-gradient(top, #80ccce, #6ebdc4);
    background-image: -o-linear-gradient(top, #80ccce, #6ebdc4);
    background-image: -ms-linear-gradient(top, #80ccce, #6ebdc4);

}
footer ul li{
    line-height:30px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
footer ul li a{
    color:#f8f8f8;
}

/*----Notifier----*/
#notifier {
    position: absolute;
    top: 240px;
    left: 0;
}

#notifier div {
    max-width: 170px;
    height: auto;
}

.notification-ok {
    position: relative;
    background-color: #a2e50e;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(102, 143, 50);
    margin-left: 5px;
}

.notification-error {
    position: relative;
    background-color: rgb(255, 55, 55);
    padding: 10px;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
    margin-left: 5px;
    color: #FFF;
}

/*----Logo----*/

#websiteLogo {
    width: 13%;
    float: left;
    margin-left: 25px;
    text-align: left;
}

#home {
    line-height: 40px;
    font-size: 18px;
    padding: 0;
    margin-left: 5px;
    float: left;
}

/*----Designer----*/
.designtop {
    height:33px
}
.clean{
	clear:both;
}
.phone-4{
	background:url('http://94.210.234.160/_design_your_own/img/iphone4.png') no-repeat;
	height:532px;
}
.phone4 {
	background:url('http://94.210.234.160/_design_your_own/img/iphone4.png') no-repeat;
	height:114px;
	background-size:60px 114px;
	margin-left:0;
}
.phone-5{
	background:url('http://94.210.234.160/_design_your_own/img/iphone5.png') no-repeat;
	height:569px;
}
.phone5{
	background:url('http://94.210.234.160/_design_your_own/img/iphone5.png')no-repeat;
	height:124px;
	background-size:60px 124px;
}
.sticker{
	background:url('http://94.210.234.160/_design_your_own/img/sticker.png')no-repeat;
	height:114px;
	background-size:60px 114px;
	margin-left:0;
}
.hardcase{
	background:url('http://94.210.234.160/_design_your_own/img/hardcase.png')no-repeat;
	height:114px;
	background-size:60px 114px;
}
.silicone{
	background:url('http://94.210.234.160/_design_your_own/img/silicone.png')no-repeat;
	height:118px;
	background-size:60px 118px;
}
.phone4, .phone5, .hardcase, .silicone, .sticker, .sel-phone p, .sel-case p{
	cursor:pointer;
	position:relative;
	color:#ffffff;
	text-align:center;
}

.ontwerpen{
	position:relative;
  z-index: 100;
}
.ontwerpen .well{
	position:absolute;
}
.sel-phone{
	left:0;
	top:0;
}
.sel-case{
	left:0;
	top:210px;
}
.sel-object{
	left:0;
	top:410px;
}
.sel-text{
	right:0;
	top:250px;
    width: 150px;
	text-align:center;
}
.sel-text select, .sel-text textarea{
    width: 150px;
}
.sel-text .btn-group{
	display:inline-block;
}
.sel-text .text-color{
	margin-left:80px;
}
.sel-bg{
	right:0;
	top:0;
    padding-left: 58px;
}
    .sel-bg > div {
        left:-25px
    }
	.sel-bg .bg-txt {
    	position: relative;
	}
	.sel-bg > div {
    	position: relative;
	}
	.sel-bg p{
		font-size:12px;
	}
	.sel-bg .icon-caret-left,
  .sel-object .icon-caret-left,
  .sel-object .icon-caret-right,
  .sel-bg .icon-caret-right {
  		width: 20px !important;
		height: 20px;
  		margin: 40px 0;
  	  	float: left;
  	  	border: none !important;
  	 	cursor: pointer;
	}
  	.sel-bg .icon-caret-left:before,
  	.sel-bg .icon-caret-right:before,
  	.sel-object .icon-caret-left:before,
  	.sel-object .icon-caret-right:before {
    	color: #6EBDC4;
    	font-size: 20px;
  	}

    .sel-bg .icon-caret-right,
    .sel-object .icon-caret-right {
      float: right;
    }

    .sel-controls {
        width: 140px;
        top:250px;
        left:560px
    }
    .sel-controls input[type="color"] {
        margin-left: 7px;
        width:20px;
    }
    .sel-controls input[type="number"] {
        width:80px
    }
    .sel-controls input {padding:0;}

.sliderow {
	min-width: 100%;
  	height: 50px;
  	border: none;
  	overflow: hidden;
  	position: absolute;
  	top: 0;
  	left: 0;
}
	.sliderow.row-bottom {
		top: 50px;
		}
	.sliderow img {
    	width: 40px;
    	height: 40px;
    	margin: 5px;
		cursor:pointer;
  	}
.ontwerpen .phone{
	position:absolute;
	top:0;
	left:285px;
	width:270px;
  padding-bottom: 50px;
}
.sign-ok {
    position: absolute;
    bottom: 15%;
    left: 5%;
    line-height: 0px;
    color: #FFF;
}

div.phone-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.phone-4 div.phone-overlay {
  background: url('http://94.210.234.160/_design_your_own/img/iphone4f.png') no-repeat;
}
.phone-5 div.phone-overlay {
  background: url('http://94.210.234.160/_design_your_own/img/iphone5f.png') no-repeat;
}

.background-slider {
  width: 250px;
  height: 100px;
  overflow: hidden;
  position: relative;
  float: left;
}
.sel-object .background-slider {
  width: 180px;
}

body.case-editor footer {
  display: none;
}
/* Ontwerp */
.selected-1 div.sticker {
    background-size: 60px 114px;
    background: url('http://94.210.234.160/_design_your_own/img/sticker.svg') no-repeat;
}

.selected-2 div.hardcase {
    background-size: 60px 114px;
    background: url('http://94.210.234.160/_design_your_own/img/hardcase.svg') no-repeat;
}

.selected-3 div.silicone {
    background-size: 60px 114px;
    background: url('http://94.210.234.160/_design_your_own/img/silicon.svg') no-repeat;
}

.selected-4 div.phone4 {
    background-size: 60px 114px;
    background: url('http://94.210.234.160/_design_your_own/img/iphone4grijs.png') no-repeat;
}

.selected-5 div.phone5 {
    background-size: 60px 124px;
    background: url('http://94.210.234.160/_design_your_own/img/iphone5grijs.png') no-repeat;
}

.overlay-iphone {
  position: absolute;
  top: 0;
  left: 0;
}
.overlay-iphone.small {
  width: 140px;
  height: 276px;
}
.overlay-iphone.big {
  width: 220px;
  height: 433px;
}
.overlay-iphone.iphone4 {
  background: url('http://94.210.234.160/_design_your_own/img/iphone4f.png') no-repeat;
}
.overlay-iphone.small.iphone4 { background-size: 140px 276px; }
.overlay-iphone.big.iphone4 { background-size: 220px 433px; }
.overlay-iphone.iphone5 {
  background: url('http://94.210.234.160/_design_your_own/img/iphone5f.png') no-repeat;
}
.overlay-iphone.small.iphone5 { 
  background-size: 140px 295px;
  height: 295px;
}
.overlay-iphone.big.iphone5 { 
  background-size: 220px 433px;
  height: 450px;
}


.relative {
  position: relative;
}