@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	outline: none;
}
html,body{
	width:100%;
	height:100%;
	color:#222;
	background:#f8f8f8;
	font-family:'cabinregular';
}
.wrap{
	width:1000px;
	margin:0 auto;
}
/*----Typografie----*/

a{
	color:#f8f8f8;
	text-decoration:none;
}
/*----Structure----*/
nav{
	width:100%;
	height:50px;
    position: fixed;
    z-index: 1;
	top:0;

    background-image: -webkit-linear-gradient(top, #444444, #000000);
    background-image: -moz-linear-gradient(top, #444444, #000000);
    background-image: -o-linear-gradient(top, #444444, #000000);
    background-image: -ms-linear-gradient(top, #444444, #000000);
    background-image: linear-gradient(top, #444444, #000000);
}

    nav li{
        height: 100%;
        width: 100px;
        list-style: none;
        float: left;
    }

    nav li:hover {
        cursor: pointer;
        background:#895c43;
    }

    nav li:last-child {
        float: right;
    }

    nav a{
        color: #f8f8f8;
        line-height:50px;
        font-size:20px;
        text-align: center;
        margin: auto;
        display: block;
    }

    #shoppingCart {
        color: #FFF;
        float: right;
        width: 70px;
        height: 50px;
        font-size: 40px;
        text-align: center;
    }

#main{
	height:100%;
}
	#main article {
		margin:auto;
		padding-top:80px;
		height:300px;
	}
		#welkom{
			height: 300px;
      overflow: hidden;
		}
      #welkom p {
        height: 260px;
      }
		#button{
      display: inline-block;
			height: 20px;
			width: 320px;
      padding: 10px;
      line-height: 20px;
      text-align: center;
      color: #f8f8f8;
      font-weight: bold;
      border: 1px solid #d3d3d3;
      white-space: nowrap;
      cursor: pointer;
      font-size: 12px;
      text-shadow: 0 1px 0 rgba(255,255,255,0.5);
      background-color: #ff5000;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8555), to(#ff5000));
      background-image: -webkit-linear-gradient(top, #ff8555, #ff5000);
      background-image: -moz-linear-gradient(top, #ff8555, #ff5000);
      background-image: -o-linear-gradient(top, #ff8555, #ff5000);
      background-image: -ms-linear-gradient(top, #ff8555, #ff5000);
      background-image: linear-gradient(top, #ff8555, #ff5000);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ff8555', EndColorStr='#ff5000');
		}
		#button a{
			color:#222;
		}
	#main img{
		height:300px;
		width:660px;
		float:left;
		margin:0 20px 0 0;
	}
	#main .news{
		padding-top:30px;
	}
		#main .newsd{
			width:320px;
			margin:0 20px 0 0;
			float:left;
		}
			#main .newsd img{
				width:320px;
				height:200px;
			}
			#main .newsd:nth-child(3){
				margin:0;
			}
#footer{
	width:100%;
	/*height:20px;*/
	bottom:0;
	background:#f8f8f8;
	position:fixed;
	border-top:1px solid #222;
	text-align:center;
	line-height:20px;
}
	#footer ul li{
		color:#222;
		margin-right:10px;
		display:inline-block;
		list-style-type:none;
	}
	#footer a{
		color:#222;
	}
/*----Ontwerpen----*/
	#main .barleft{
		float:left;
		width:50px;
		height:100%;
		background:#ff5000;
	}
		#main .barleft h1{
			top:50%;
			width:350px;
			text-align:center;
			margin-left:-150px;
			position:relative;
			transform:rotate(-90deg);
			-ms-transform:rotate(-90deg); /* IE 9 */
			-webkit-transform:rotate(-90deg); /* Safari and Chrome */
		}
	#main .barright{
		float:right;
		width:50px;
		height:100%;
		background:#ff5000;
	}
		#main .barright h1{
			top:50%;
			width:350px;
			text-align:center;
			margin-left:-150px;
			position:relative;
			transform:rotate(90deg);
			-ms-transform:rotate(90deg); /* IE 9 */
			-webkit-transform:rotate(90deg); /* Safari and Chrome */
		}
		#main .barright:hover, #main .barleft:hover{
			background:#222;
		}

.iphone{
	position:fixed;	
	left:50%;
	top:50%;
	margin:-284px 0 0 -135px;
	width:270px;
	background:url(../IMG/iphone5.png);
	height:567px;	
}

#main #registerForm, #main #nawSection {
    float: left;
    margin-top: 30px;
    width: 55%;
    clear: both;
}

#nawSection, #orderOverView {
    background-color: #a2a2a9;
    padding: 10px;
}

#main #registerForm h1 {
    margin-bottom: 20px;
}

#main #registerForm input, #main #nawSection input{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px 5px;
    margin:5px 0 10px 2px;
    width:96%;
}

    #main #registerForm #firstName, #main #nawSection .leftCol {
        width: 40% !important;
        float: left;
        margin-right: 1%;
    }

    #main #registerForm #lastName, #main #nawSection .rightCol {
        float: left;
        width: 52% !important;
    }

    #main #registerForm #secondPassword {
        margin-bottom: 1px;
    }

#main #registerForm div {
    margin-left: 2px;
    color: #FF0000;
    font-size: 12px;
}

#main #registerForm label, #main #nawSection label {
    float: left;
    width: 100%;
}

.orangeButton {
    padding: 10px;
    line-height: 20px;
    text-align: center;
    margin: 20px 0;
    color: #f8f8f8;
    font-weight: bold;
    border: 1px solid #d3d3d3;
    white-space: nowrap;
    cursor: pointer;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background-color: #ff5000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8555), to(#ff5000));
    background-image: -webkit-linear-gradient(top, #ff8555, #ff5000);
    background-image: -moz-linear-gradient(top, #ff8555, #ff5000);
    background-image: -o-linear-gradient(top, #ff8555, #ff5000);
    background-image: -ms-linear-gradient(top, #ff8555, #ff5000);
    background-image: linear-gradient(top, #ff8555, #ff5000);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ff8555', EndColorStr='#ff5000');
}

#loginContainer {
    position: fixed;
    top: 50px;
    left: 984px;
    float: right;
    color: #ffffff;
    width: 15%;
    background-color: #000000;
    padding: 0px 10px 10px 10px;
    z-index: 1;
}

#loginContainer a{
    text-decoration: underline;
    font-size: 10px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}
div#main ul#shopCaseDesigns .gallery-product {
  width: 100px;
}
  div#main ul#shopCaseDesigns .gallery-product img {
    width: 90px;
  }
.gallery-product {
  position: relative;
  width: 190px;
  list-style: none;
  margin: 0 10px 10px 0;
  text-align: center;
  float: left;
}
  .gallery-product h2 {
    height: 60px;
    display: inline-block;
    overflow: hidden;
  }
div#main .gallery-products .gallery-product:nth-child(6) {
  margin-right: 0;
  clear: both;
}
div#main .gallery-product img {
  width: 140px;
  padding: 0 5px;
  height: auto;
  float: none;
  margin: 0;
}

ul#shopCaseDesigns {
    width: 100%;
}

ul.gallery-products, ul#shopCaseDesigns {
  list-style: none;
}

#orderOverView {
    float: right;
    margin-top: 30px;
    width: 35%;
}

#orderOverView table {
    padding: 10px;
    border-collapse: separate;
    border-spacing: 2px;
    width: 80%;
    margin: auto;
}

#orderOverView table td {
    vertical-align: middle;
    padding: 5px;
    text-align: center;
}

#orderOverView button {
    display: block;
    margin: auto;
}

#main div.product-view img {
  width: 140px;
  height: auto;
  float: none;
}
.button {
  color: #000;
  cursor: pointer;
  background: #f8f8f8;
  border: 1px solid #000;
  padding: 2px 5px;
}
.left-column, .right-column {
  width: 25%;
  float: left;
}