<article>
    <img src="http://placehold.it/660x300" alt="slideshow" />
    <div id="welkom">Topping lollipop pudding lollipop apple pie sugar plum candy canes sweet. Chupa chups biscuit bear claw dessert halvah brownie bear claw. Chocolate bar liquorice oat cake oat cake lemon drops wafer pie biscuit sweet roll. Marzipan sweet candy canes pastry muffin chocolate cake pastry tiramisu danish. Marshmallow halvah chupa chups cookie jelly beans chocolate cake sweet roll. Marshmallow chupa chups toffee ice cream lemon drops dessert ice cream liquorice. Wypas candy gummies ice cream.</div>
    <button class="button" id="button">Start met ontwerpen</button>
</article>
<article class="news">
    <div class="newsd"><img src="http://placehold.it/320x200" alt="wedstrijd" /></div>
    <div class="newsd"><img src="http://placehold.it/320x200" alt="gallerij" /></div>
    <div class="newsd"><img src="http://placehold.it/320x200" alt="meer weten" /></div>
</article>
