<article class="row ontop paymentMethodsPage">
    <h2 class="span12">Afrekenen</h2>
    <div class="well span5" data-ng-init="addImageDropDowns()">
        <h3>Verzend opties</h3>
        <label><input type="radio" name="shipmentGroup" value="10"> Levering volgende dag <span>+&euro;10,00 </span></label><br />
        <label><input type="radio" name="shipmentGroup" value="0"> Normale Levering<span>+ &euro; 0,00</span></label> <br />
        <label><input type="checkbox"> Aangetekend<span>+ &euro; 5,00</span></label> <br />

        <h3>Betaal optie</h3>
        <div id="paymentMethods"></div><br />
        <div id="paymentBanks"></div><br />
        <button id="toPayment" class="btn btn-primary disabled" data-ng-click="pay()" disabled>Naar Betalen</button>
        <span class="icon-question"></span>
    </div>

    <div class="well span5" data-ng-controller="ShopCartCtrl" data-ng-init="loadShopCartDesigns()">
        <h3>Bestelling</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Prijs</th>
                <th>Aantal</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="orderline in order.orderlines">
                <td>
                    {{ orderline.caseDesign.name }}
                </td>
                <td>
                    &euro;
                    {{ 7.50 * orderline.aantal}}
                </td>
                <td>
                    {{ orderline.aantal }}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr data-ng-init="calculateTotalPrice()">
                <td>
                    Totaal:
                </td>
                <td colspan="2">
                    &euro; {{totalPrice}}
                </td>
            </tr>
            </tfoot>
        </table>
        <div data-ng-controller="UserCtrl" data-ng-init="loadUserShopCart()">
            <h3>Wordt verstuurd naar</h3>
            <div style="margin-left: 10px;">
                <label>{{user.firstName}} {{user.lastName}}</label>
                <label>{{user.address.street}} {{user.address.houseNumber}}</label>
                <label>{{user.address.postalCode}} {{ user.address.city }}<a href="#/winkelwagen">Wijzigen</a></label>
            </div>
        </div>
    </div>

</article>
