<article class="row ontop">
    <h2 class="span12">Bestelling afgerond</h2>
    <section class="span12 well">
        <p>
            Uw bestelling is geslaagd en is bij ons ontvangen!<br />
            <br />
            Heeft u vragen over uw bestelling neem contact met ons op via <strong class="text-info">+31 (0) 40 248 27 32</strong> <br />
            of mail ons naar <strong class="text-info">sales@recolorit.com</strong> en wij nemen zo snel mogelijk contact met u op!<br />
            <br />
        </p>
        <a href="#">Terug naar de home pagina</a>
    </section>
</article>