<h1>Inloggen</h1>

<div id="loginContainer" class="wrap">
    <form>
        <label>Gebruikersnaam</label><br />
        <input type="text" data-ng-change="#" data-ng-model="user.name" maxlength="20" required><br />
        <a href="#/gebruiker/registreren">Registreer</a><br />
        <label>Wachtwoord</label><br />
        <input type="password" data-ng-change="#" data-ng-model="user.password" required><br />
        <a href="#/gebruiker/wachtwoordvergeten">Wachtwoord Vergeten</a><br />
        <input type="checkbox"><span> Onthouden</span> <br />
        <button class="orangeButton" data-ng-click="loginUser()">Login</button>
    </form>
</div>