<h1>Registreren</h1>
<form data-ng-init="user = { check: true, passCheck: true }">
    Gebruikersnaam: <input type="text" data-ng-change="checkRegister()" data-ng-model="user.name" maxlength="20" required><br />
    Voor- en Achternaam: <input type="text" data-ng-change="checkRegister()" data-ng-model="user.firstName" required>
    <input type="text" data-ng-change="checkRegister()" data-ng-model="user.lastName" required><br />
    Geboortedatum: <input type="date" data-ng-change="checkRegister()" data-ng-model="user.birthDate" required><br />
    Wachtwoord: <input type="password" data-ng-change="checkRegister()" data-ng-model="user.password" required><br />
    Wachtwoord controle: <input type="password" data-ng-change="checkRegister()" data-ng-model="user.passwordCheck" required><br />
    <div data-ng-hide="user.passCheck">Wachtwoord komt niet overeen</div>
    <button data-ng-disabled="user.check" data-ng-click="registerUser()">Registreren</button>
</form>