<div class="row ontop designtop" data-ng-init="phone = []">
    <form class="span5 form-horizontal">
		<label class="control-labell" for="name">Geef je ontwerp een naam</label><br />
        <input id="name" name="name" type="text" class="input-medium" value="{{ design.name }}">
        <input type="checkbox" class="input-medium" data-ng-model="design.shared"> Gedeeld
        <button class="btn btn-success">Opslaan!</button>
    </form>
</div>

<div class="row top ontwerpen" data-ng-init="fillObjectArrays()">
	
	<div data-ng-init="activatePhone(4);" class="span2 well sel-phone selected-{{phone.phone}}">
		<h6>Welke Iphone heb je?</h6>
		<div data-ng-click="activatePhone(4);" class="phone4 span1">
			<h3>4</h3>
			<div class="icon-ok-sign span1 sign-ok" data-ng-show="phone.phone == 4"></div>
		</div>
        <div data-ng-click="activatePhone(5);" class="phone5 span1">
            <h3>5</h3>
            <div class="icon-ok-sign span1 sign-ok" data-ng-show="phone.phone == 5"></div>
        </div>
	</div>
	
	<div data-ng-show="phone.phone && phone.case" class="span4 pull-right well sel-bg">
		<h6>Achtergrond</h6>
        <input type="color" id="background-color">
		<div>
			<div class="icon-caret-left"></div>
			<div class="background-slider">
				<div class="sliderow row-top">
                    <img data-ng-repeat="pattern in backgroundsRowOne" data-url="{{ pattern.image }}" data-ng-src="http://94.210.234.160/_design_your_own/{{ pattern.image }}" alt="{{ pattern.alt }}">
				</div>
				<div class="sliderow row-bottom">
                    <img data-ng-repeat="pattern in backgroundsRowTwo" data-url="{{ pattern.image }}" data-ng-src="http://94.210.234.160/_design_your_own/{{ pattern.image }}" alt="{{ pattern.alt }}">
				</div>
			</div>
			<div class="icon-caret-right"></div>
		</div>
	</div>
	
	<div data-ng-init="setCaseType(1);" data-ng-show="phone.phone" class="span3 well selected-{{phone.case}} sel-case">
		<h6>Wat voor case wil je?</h6>
        <div data-ng-click="setCaseType(1);" class="span1 sticker">
            <div class="icon-ok-sign sign-ok" data-ng-show="phone.case == 1"></div>
        </div>

        <div data-ng-click="setCaseType(2);" class="span1 hardcase">
            <div class="icon-ok-sign sign-ok" data-ng-show="phone.case == 2"></div>
        </div>

        <div data-ng-click="setCaseType(3);" class="span1 silicone">
            <div class="icon-ok-sign sign-ok" data-ng-show="phone.case == 3"></div>
        </div>
	</div>
	
	<div data-ng-show="phone.phone && phone.case" class="span3 well pull-right sel-text" id="text">
			<h6>Tekststijl</h6>
			
		<div class="btn-toolbar">
		  <div class="btn-group">
		    <a class="btn" data-type="textAlign" data-setting="left" id="align-left"><i class="icon-align-left"></i></a>
		    <a class="btn" data-type="textAlign" data-setting="center" id="align-center"><i class="icon-align-center"></i></a>
		    <a class="btn" data-type="textAlign" data-setting="right" id="align-right"><i class="icon-align-right"></i></a>
		    <a class="btn" data-type="textAlign" data-setting="justify" id="align-justify"><i class="icon-align-justify"></i></a>
		  </div>
		</div>
			
		<div class="btn-toolbar">
		  <div class="btn-group">
		    <a class="btn" data-type="fontWeight" data-setting="bold" id="set-bold"><i class="icon-bold"></i></a>
		    <a class="btn" data-type="fontStyle" data-setting="italic" id="set-italic"><i class="icon-italic"></i></a>
		    <a class="btn" data-type="textDecoration" data-setting="underline" id="set-underline"><i class="icon-underline"></i></a>
		    <a class="btn" data-type="textDecoration" data-setting="line-through" id="set-strikethrough"><i class="icon-strikethrough"></i></a>
		  </div>
		</div>
			
		<select data-type="fontFamily" id="set-font">
		  <option>Verdana</option>
		  <option>Georgie</option>
		  <option>Arial</option>
		  <option>Granddesign</option>
		  <option>Time New Roman</option>
		</select>
		
		<form>
			<input id="set-font-size" data-type="fontSize" class="span1" type="number" value="23"/>
			<input id="set-font-color" data-type="fill" class="span1 font-color" type="color"/>
            <textarea data-type="text" id="set-text"></textarea>
            <button class="btn" id="add-text">Voeg tekst toe</button>
		</form>
	</div>
	
	<div data-ng-show="phone.phone && phone.case" class="span3 well sel-object">
		<h6>Afbeelding toevoegen</h6>
		<p>Zoek een eigen afbeelding op, en sleep deze vervolgens uit de map naar de preview en laat de afbeelding los.</p>
	    <input type="file" multiple id="upload">
		<div>
			<div class="icon-caret-left"></div>
			<div class="background-slider">
				<div class="sliderow row-top">
                    <img data-ng-repeat="pattern in objectsRowOne" data-url="{{ pattern.image }}" data-ng-src="http://94.210.234.160/_design_your_own/{{ pattern.image }}" alt="{{ pattern.alt }}">
				</div>
				<div class="sliderow row-bottom">
                    <img data-ng-repeat="pattern in objectsRowTwo" data-url="{{ pattern.image }}" data-ng-src="http://94.210.234.160/_design_your_own/{{ pattern.image }}" alt="{{ pattern.alt }}">
				</div>
			</div>
            <div class="icon-caret-right"></div>
        </div>
	</div>
	
    <div class="phone phone-{{phone.phone}} span4">
        <div class="phone-overlay"></div>
        <canvas id="case-editor"></canvas>
    </div>
    
	<div data-ng-show="phone.phone && phone.case" class="span3 well sel-controls">
        <div id="object-controls" style="display:none;">
            <label for="opacity">Opacity: </label>
            <input type="number" id="opacity" min="1" max="100" value="100">
        
            <label for="color">Color: </label>
            <input type="color" id="color" data-type="fill">
        
            <div class="btn-toolbar index-group">
                <div class="btn-group">
                    <a class="btn" data-fn="sendToBack" id="to-back"><i class="icon-backward"></i></a>
                    <a class="btn" data-fn="sendBackwards" id="backwards"><i class="icon-step-backward"></i></a>
                    <a class="btn" data-fn="bringForward" id="forwards"><i class="icon-step-forward"></i></a>
                    <a class="btn" data-fn="bringToFront" id="to-front"><i class="icon-forward"></i></a>
                </div>
            </div>
            <a class="btn btn-danger" id="del-object">Verwijder</a>
        </div>
        <a class="btn btn-danger" id="del-all">Verwijder ALLES!</a>
    </div>
</div>

<script src="js/editor.js" type="text/javascript" charset="utf-8"></script>


			