<article class="row ontop">
    <h2 class="span12">Veel gestelde vragen</h2>
    <section class="span6">


        <!-- Betalen en dergelijke -->

        <div class="accordion" id="accordion2">
            <div class="accordion-group bg">
                <div class="accordion-heading">
                    <h3>
                        Betalen, Verzenden en Retouneren
                    </h3>
                </div></div>
            <div class="accordion-group top bg">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                        Hoeveel kost verzenden?
                    </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Het verzenden binnen Nederland is gratis. Wanneer wij een bestelling naar het buitenland moeten verzenden, worden de verzendkosten voor u uitgerekend bij uw bestelling.
                    </div>
                </div>
            </div>
            <div class="accordion-group bg">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        Hoe versturen we onze producten?
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Over het algemeen kunnen alle kleine bestellingen (lees maximaal 3cases) gewoon door de brievenbus. Deze worden veiligverpakt en komen zo snel als mogelijk bij u in de brievenbus. U hoeft dus ook niet thuis te zijn.
                    </div>
                </div>
            </div>
            <div class="accordion-group bg">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                        Hoelang duurt het voor ik mijn producten heb?
                    </a>
                </div>
                <div id="collapseFour" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Dit is afhankelijk van hoe druk het bij ons is. In princiepe kunnen wij alle hoesjes binnen 3 dagen drukken en versturen. Dit kan soms in verband met drukte en/of groote bestellingen uitlopen tot maximaal 6 dagen.
                    </div>
                </div>
            </div>
            <div class="accordion-group bg">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                        Hoe kan ik mijn bestelling retouneren?
                    </a>
                </div>
                <div id="collapseSix" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Ongebruikte of ongeopende Cases kunnen worden terug gestuurd voor credit's op de website. Dat wil zeggen dat u een nieuw hoesje kan kopen van dat bedrag. Wij kunnen u helaas geen geld terug geven. <br/><br/>U stuurt indien de case niet naar wens is deze terug naar het antwoordnummer vermeld op de envelop.
                    </div>
                </div>
            </div>
            <div class="accordion-group bg">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
                        Is er een mogelijkheid tot bulk korting?
                    </a>
                </div>
                <div id="collapseSeven" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Ja, wij bieden bij verschillende aantallen kortingen op uw bestelling. Hoe meer cases u besteld bijvoorbeeld als cadeautje bij een festiviteit des te meer korting u krijgt.<br/><br/>De kortingen gaan per 10,50,100.<br/>Meer dan 10cases = 10% korting<br/>meer dan 50cases = 20% korting<br/>Meer dan 100cases = 35% korting
                    </div>
                </div>
            </div>
            <div class="accordion-group bg">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
                        Waarmee kan ik allemaal betalen?
                    </a>
                </div>
                <div id="collapseEight" class="accordion-body collapse">
                    <div class="accordion-inner">
                        U kunt bij Recolorit op één van de volgende manieren betalen: iDEAL deze betaalmethode is alleen mogelijk voor bestellingen binnen Nederland. Bij deze betaalmethode kunt u direct tijdens het bestelproces de betaling afhandelen met uw eigen bank. Daarnaast kunt u betalen met uw persoonlijke paypal account of creditcard.
                    </div>
                </div>
            </div>
    </section>

    <!-- Ontwerpen -->

    <section class="span6">
        <div class="accordion" id="accordion3">
            <div class="accordion-group bg">
                <div class="accordion-heading">
                    <h3>
                        Design your own
                    </h3>
                </div></div>
            <div class="accordion-group top bg">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseNine">
                        Gebruik onze handige tool om uw case persoonlijk te maken.
                    </a>
                </div>
                <div id="collapseNine" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Onze handige tool geeft u de mogelijkheid uw eigen afbeeldingen, tekst en kleuren toe te voegen aan de case. U heeft hier geen ontwerp skills voor nodig!<br/><br/>Wanneer u afbeeldingen upload met behulp van onze tool, zorg er dan voor dat de afbeelding een van de volgende bestandstypes heeft: jpg, png of gif. Daarnaast is het van belang dat de afbeelding 300dpi is en minimaal een breedte van 1600px. Dit is om de kwaliteit van de afbeelding op uw case te waarborgen.<br/><br/>Bekijk en controleer het voorbeeld aandachtig voordat u deze gaat bestellen.
                    </div>
                </div>
            </div>
            <div class="accordion-group bg">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTen">
                        Ontwerpen van andere kopen.
                    </a>
                </div>
                <div id="collapseTen" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Mocht u in onze gallerij een mooi ontwerp tegen komen die u graag zou willen kunt u deze heel eenvoudig aan uw winkelwagen toevoegen en daarna bestellen. Zoek hiervoor naar het winkelwagen icoontje <span class="icon-shopping-cart"></span>.
                    </div>
                </div>
            </div>
            <div class="accordion-group bg">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseEleven">
                        Ontwerpen van andere aanpassen.
                    </a>
                </div>
                <div id="collapseEleven" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Mocht u in de gallerij een goed ontwerp zien maar graag de afbeelding of tekst aanpassen zodat hij perfect is voor u. Klik dan op de case in de gallerij waarna u de keuze heeft voor "Gebruik als basis". Wanneer u hier op klikt komt u terug bij de ontwerp pagina met het gekozen ontwerp er al in, zodat u deze kan aanpassen.
                    </div>
                </div>
            </div>
            <div class="accordion-group bg">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseTwelf">
                        Opgeslagen ontwerpen beheren.
                    </a>
                </div>
                <div id="collapseTwelf" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Nadat u bent ingelogt en op de gallerij bent ziet u een overzicht van de door u ontwerpen cases. Klik dan op de gewenste case in de gallerij waarna u de keuze heeft voor "Gebruik als basis". Wanneer u hier op klikt komt u terug bij de ontwerp pagina met het gekozen ontwerp er al in, zodat u deze kan aanpassen.
                    </div>
                </div>
            </div>
        </div>
    </section>

</article>
		