<a class="sidenav navactive" href="#/ontwerpen"><h2>Ontwerpen</h2></a>
	<a class="sidenav navactive" href="#/producten"><h2>Gallery</h2></a>
	<a class="sidenav navinactive" href="#"><h2>Wedstrijd</h2></a>

<article data-ng-init="getProductsByLoggedInUser()">
    <div class="row ontop">
        <h2 class="span8">Mijn galerij</h2>
        <form data-ng-show="hasUser" class="form-search span2">
            <input type="text" placeholder="Zoeken" data-ng-model="searchContent" class="input-medium search-query">
        </form>
        <a class="btn span2 form-search" href="#/producten">Website Galerij</a>
    </div>

    <div data-ng-show="hasUser" class="row gallery">
        <div class="span2 case" data-ng-repeat="product in products | filter:searchContent">
            <a href="#/product/{{product._id}}" class="relative">
                <div class="overlay-iphone small iphone4"></div>
                <img data-ng-src="{{product.preview}}" alt=""/>
            </a>
            <div class="txt">
                <h4>Titel:</h4>
                <h5>{{ product.name }}</h5>
                <h4>Laatst gewijzigd:</h4>
                <h5>{{ product.created_at | date:'dd-MM-yyyy' }}</h5>
                <button class="btn btn-primary" data-ng-click="openDesignInEditor(product._id)">
                    Bewerken
                </button>
            </div>
        </div>
    </div>

    <div data-ng-hide="hasUser">
        <h3>
            Je bent niet ingelogd, log in bij "Mijn Account" om je eigen galerij te bekijken.
        </h3>
    </div>
</article>