<div data-ng-init="products.error = false"></div>
<div data-ng-init="getProducts()"></div>
<div data-ng-show="products.error">Er zijn geen hoesjes om weer te geven, dit komt door een onbekende fout.</div>

<div class="row ontop">
    <h2 class="span8">Gallery</h2>
    <form class="form-search span2">
        <input type="text" placeholder="Zoeken" data-ng-model="searchContent" class="input-medium search-query">
    </form>
</div>

<div class="row gallery">
        <div class="span2 case" data-ng-repeat="product in products.result | filter:searchContent">
            <a href="#/product/{{product._id}}"><img data-ng-src="{{product.preview}}" alt=""/></a>
            <div class="txt">
                <h4>Titel:</h4>
                <h5>{{ product.name }}</h5>
                <h4>Auteur:</h4>
                <h5>{{ product.name }}</h5>
                <h4>Laatst gewijzigd:</h4>
                <h5>{{ product.created_at | date:'dd-MM-yyyy' }}</h5>
                <div class="rating"></div>
                <h4 class="price">Prijs:
                    <span>€9,99</span>
					<i data-ng-click="addProductToShopCart(product)" class="icon-shopping-cart"></i>
                </h4>
            </div>
        </div>
</div>