<a class="sidenav navactive" href="#/ontwerpen"><h2>Ontwerpen</h2></a>
	<a class="sidenav navactive" href="#/producten"><h2>Gallerij</h2></a>
	<a class="sidenav navinactive" href="#"><h2>Wedstrijd</h2></a>

<article data-ng-init="getProductsByGivenUser()">
    <div class="row ontop">
        <h2 class="span6">Galerij - {{user.firstName }} {{ user.lastName }}</h2>
        <form class="form-search span2">
            <input class="input-medium search-query pull-right" type="text" placeholder="Zoeken" data-ng-model="searchContent" class="input-medium search-query">
        </form>
        <a class="btn span2 form-search" href="#/producten">Website Galerij</a>
        <a data-ng-show="hasUser" class="btn span2 form-search" href="#/producten/user">Mijn Galerij</a>
    </div>

    <div class="row gallery">
        <div class="span2 case" data-ng-repeat="design in user.caseDesigns | filter:searchContent">
            <a href="#/product/{{design._id}}" class="relative">
                <div class="overlay-iphone small iphone4"></div>
                <img data-ng-src="{{design.preview}}" alt=""/>
            </a>
            <div class="txt">
                <h4>Titel:</h4>
                <h5>{{ design.name }}</h5>
                <h4>Laatst gewijzigd:</h4>
                <h5>{{ design.created_at | date:'dd-MM-yyyy' }}</h5>
            </div>
        </div>
    </div>
</article>