<div data-ng-init="products.error = false"></div>
<div data-ng-init="getProducts()"></div>
<div data-ng-show="products.error">Er zijn geen hoesjes om weer te geven, dit komt door een onbekende fout.</div>

<div class="row ontop">
    <h2 class="span8">Gallery</h2>
    <form class="form-search span4">
        <input type="text" class="input-medium search-query">
        <button type="submit" class="btn border-blue searchbtn">Search</button>
    </form>
</div>

<div class="row gallery">
    <a href="#/product/{{product._id}}" data-ng-repeat="product in products.result">
        <div class="span2 case">
            <img data-ng-src="{{product.preview}}" alt=""/>
            <div class="txt">
                <h4>Titel:</h4>
                <h5>{{ product.name }}</h5>
                <h4>Auteur:</h4>
                <h5>T. Frankena</h5>
                <h4>Laatst gewijzigd:</h4>
                <h5>{{ product.created_at | date:'dd-MM-yyyy' }}</h5>
                <div class="rating"></div>
                <h4 class="price">Prijs:
                    <span>€9,99 <i data-ng-click="addProductToShopCart()" class="icon-shopping-cart"/i></span>
                </h4>
            </div>
        </div>
    </a>
</div>