<a class="sidenav navactive" href="#/ontwerpen"><h2>Ontwerpen</h2></a>
	<a class="sidenav navactive" href="#/producten"><h2>Gallery</h2></a>
	<a class="sidenav navinactive" href="#"><h2>Wedstrijd</h2></a>

<div class="row ontop" data-ng-init="getProduct()">
    <h2 class="span12">{{ product.name }}</h2>
    <div class="span3 relative">
        <div class="overlay-iphone big iphone4"></div>
        <img data-ng-src="{{product.preview}}" />
    </div>
    <div class="span9 casep">
        <h4>Auteur</h4>
        <a href="#/producten/{{product.user._id}}"><h5>{{product.user.firstName}} {{product.user.lastName}}</h5></a>
        <h4>Laatste gewijzigd</h4>
        <h5>{{ product.created_at | date:'dd-MM-yyyy' }}</h5>
        <div class="rating">
            <span style="float: none; margin-right: 0;" data-ng-repeat="n in ratings">
                <i data-ng-init="value = n.i" data-ng-click="addRating(value);" class="{{n.name}}"></i>
            </span>
        </div>
        <a data-ng-hide="sameUser" class="span2 btn btn-primary btn-blue">Gebruik als basis</a>
        <a data-ng-show="sameUser" href="#/ontwerpen/bewerken/{{ product._id }}" class="span2 btn btn-primary btn-blue">Bewerken</a>
    </div>
    <div class="product-details right-column ng-scope span9 reacties top">
        <div class="detail-view">
        </div>
        <h4>Reacties</h4>
        <div class="comments">
            <ul>
                <li data-ng-repeat="comment in comments" class="ng-scope">
                    <span class="ng-binding"><strong class="ng-binding">{{ comment.user.name }}</strong> schreef op {{ comment.posted_at | date:'dd-MM-yyyy' }} :</span>
                    <span data-ng-show="comment.user._id == loggedinUser._id" class="offset1 icon-remove-sign" data-ng-click="removeSociable('comment', comment._id)"></span>
                    <p class="ng-binding">{{ comment.comment }}</p><br />
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row react top">
        <h4 class="span3">Prijs:<span> €9,99</span><span data-ng-click="addProductToShopCart()" class="icon-shopping-cart"></span></h4>

        <textarea data-ng-model="comment" rows="4" class="span4 ng-pristine ng-valid"></textarea>
        <button data-ng-click="addComment()" class="btn span3">Plaats bericht</button>
    </div>
</div>