<div data-ng-init="getProduct()"></div>
<div class="product-view left-column">
    <img data-ng-src="{{product.preview}}"/>
    <span class="icon-shopping-cart" title="Toevoegen aan winkelmand" data-ng-click="addProductToShopCart()"></span>
    <span class="stars"></span>
</div>
<div class="product-details right-column">
    <div class="detail-view">
        <table>
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Waarde</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Titel</td>
                    <td>{{product.name}}</td>
                </tr>
                <tr>
                    <td>Auteur</td>
                    <td>{{ 5 + 5}}</td>
                </tr>
                <tr>
                    <td>Datum</td>
                    <td>{{ 6 + 6 }}</td>
                </tr>
                <tr>
                    <td>Rating</td>
                    <td>
                        <span data-ng-repeat="n in ratings">
                            <i class="{{n}}"></i>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- a href="#">Gebruik als basis</a>-->
    </div>

    <h3>Reacties</h3>
    <div class="comments">
        <ul>
            <li data-ng-repeat="comment in comments">
                <span><strong>{{ comment.user.name }}</strong> - heeft op {{ comment.posted_at }} het volgende bericht geplaatst.</span>
                <p>{{ comment.comment }}</p>
            </li>
        </ul>
    </div>
    <textarea data-ng-model="comment"></textarea>
    <button data-ng-click="addComment()" class="button">Plaats bericht</button>
</div>