<div data-ng-init="getProduct()"></div>
<div class="product-view left-column">
    <img data-ng-src="{{product.preview}}"/>
    <span class="icon-shopping-cart" data-ng-click="addProductToShopCart()"></span>
    <span class="stars"></span>
</div>
<div class="product-details right-column">
    <div class="detail-view">
        <dl>
            <dt>Titel</dt><dd>{{product.name}}</dd>
            <dt>Auteur</dt><dd>{{}}</dd>
            <dt>Datum</dt><dd>{{}}</dd>
        </dl>
        <!-- a href="#">Gebruik als basis</a>-->
        <div class="stars vote"></div>
    </div>
    <p>Comments</p>
    <div class="comments">
        <ul>
            <li>
                <span>&lt;naam&gt; said on 21 may</span>
                <p>Lorum ipsum dolor sit amet.</p>
            </li>
        </ul>
    </div>
    <textarea name="??"></textarea>
    <button class="button">Plaats bericht</button>
</div>